# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ChromeExtension/node_modules
/server/node_modules

# production
ChromeExtension/build

# misc
.DS_Store

npm-debug.log*

# packed files
ChromeExtension/release

build.pem
build.crx
